.featured {
    h3 {
        font-size: 2.4rem;
        text-align: center;
        font-weight: normal;
        margin: 2rem;
    }
}

.featured__image {
    width: 100%;
    // 872 240
    // height: 200px;
    padding-top: 27.5%;
    background-image: url("asset/image/featured-on.jpg");
    background-size: cover;

}