$color-white: #fff;
$color-mine-shaft: #333333;
$color-mercury: #e7e7e7;
$color-pizazz: #FF9600;
$color-gallery: #EEEEEE;
// background color
$color-sandy-brown: #F0AD4E;
// border color
$color-fuel-yellow: #EEA236;

// color footer roberto blake
$color-astral: #337AB7;

//  color footer roberto blake on hover
$color-bay-of-many: #23527c;