%header__image {
    height: 61.1rem;
    background-position: center;
    background-size: cover;
}

%button {
    border: 0.1rem solid $color-fuel-yellow;
    background-color: $color-sandy-brown;
    color: $color-white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.button__download {
    @extend %button;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
}

.button__training {
    @extend %button;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    display: inline-block;
    font-size: 1.2rem;
    
    &:hover{
        background-color: $color-carrot-orange;
        border-radius: 0.1rem solid $color-meteor;
        text-decoration: none;
    }
}

.button__youtube {
    background-color: $color-roman;
    border-radius: 0.1rem solid $color-valencia;
    @extend %button;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 1.2rem;

    &:hover {
        background-color: $color-persian-red;
        border-radius: 0.1rem solid $color-mexican-red;
        text-decoration: none;
    }
}

