.header {
    background-color: $color-mine-shaft;
    color: $color-white;
}

.header__top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid $color-mercury;
    position: relative;
    background-color: $color-mine-shaft;
}

.header__fullname {
    font-size: 2rem;
    padding: 1.5rem;
    display: inline-block;
}

.header__menu-item {
&:first-child {
    &:after {
        font-family: 'roberto-blake-custom-font' !important;
        content: "\e902";
        font-size: 2rem;
        padding: 0 1.3rem;
    }
}

}

.header__menu-item {
    background-color: $color-mine-shaft;

}

.header__menu-link,
.header__menu-sub-link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    display: block;
    cursor: pointer;
}

.header__menu-sub-link {
    padding: 0.5rem 2.5rem;
}

.rbcf-menu {
    font-size: 2.5rem;
    padding: 0.6rem;
    margin: 1.3rem;
    border-radius: 0.3rem;
    border: 0.1rem solid $color-white;
    cursor: pointer;
}

.header__menu-list {
    // display: none;
    transition: 0.25s;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    border: 0.1rem solid $color-mercury
}

#toggle-top-menu,
#header-sub-menu {
    display: none;
}

#toggle-top-menu:checked + .header__menu-list {
    // display: inherit;
    top: 5rem;
}

.header__sub-menu {
    display: none;
}

#header-sub-menu:checked + .header__menu-link + .header__sub-menu {
    display: inherit;
}
#header-sub-menu:checked + .header__menu-link .rbcf-circle-down:before {
    transform: rotate(180deg);
    display: inline-block;
}

.rbcf-circle-down {
    padding: 1rem;
}

.header__footer {
    background-color: $color-mine-shaft;
    color: $color-white;
    padding: 2.5rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
}

.header__download {
    border: 0.1rem solid $color-fuel-yellow;
    background-color: $color-sandy-brown;
    color: $color-white;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.header__wrapper {
    background-color: $color-pizazz;

    h1 {
        color: $color-white;
        font-size: 3.6rem;
        font-weight: normal;
        padding: 1rem 1.5rem;
        text-align: center;

    }
}

.header__image {
    background-image: url('asset/image/robertoblakeheader.jpg');
    height: 61.1rem;
    background-position: center;
    background-size: cover;
}


