.header {
    background-color: $color-mine-shaft;
    color: $color-white;
}

.header__top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid $color-mercury;
    position: relative;
    background-color: $color-mine-shaft;
}

.header__fullname {
    font-size: 2rem;
    padding: 1.5rem;
    display: inline-block;
}

.header__menu-item {
&:first-child {
    &:after {
        font-family: 'roberto-blake-custom-font' !important;
        content: "\e902";
        font-size: 2rem;
    }
}

}

.header__menu-item {
    background-color: $color-mine-shaft;

}

.header__menu-link,
.header__menu-sub-link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    display: block;
}

.header__menu-sub-link {
    padding: 0.5rem 2.5rem;
}

.rbcf-menu {
    font-size: 2.5rem;
    padding: 1.5rem;
}

.header__menu-list {
    // display: none;
    transition: 0.25s;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    border: 0.1rem solid $color-mercury
}

#toggle-top-menu {
    display: none;
}

#toggle-top-menu:checked + .header__menu-list {
    // display: inherit;
    top: -100%;
}
