extends ../_component/layout/base
block config
  -
    let title = `Roberto Blake, Online Educator Proving Training, Coaching and Workshops`;
    let description = `Roberto Blake provides remote and on-site training, consulting and coaching. His areas of expertise include video marketing and production, creative services, inbound marketing and SEO.`
block content
  .header__wrapper
    h1 Roberto Blake: Consulting, Courses & Workshops
    .header__panel
      .header__image--consulting
  .landing__content