// css reset
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    // reset font size to 10 px
    font-size: 62.5%;
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
padding-top: 5rem;
}

a {
    text-decoration: none;
    color: $color-astral;

    &:hover {
        text-decoration: underline;
        // color: $color-bay-of-many;
    }
}

p {
    font-size: 1.6rem;
}

hr {
    border-top: 0.1rem solid $color-gallery;
    margin: 1.5rem;
}

.image img {
    max-width: 100%;
}

h3 {
    font-size: 1.4rem;
    padding: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    padding: 1.2rem;;
}

.without-disk {
    list-style-type: none;
}

.full-width {
    max-width: 100%;
}

.image-inline {
    margin-bottom: -0.4rem;
    padding: 0 0.4rem;
}

.image-li {
    margin-bottom: -0.4rem;

}



