doctype html
html(lang="en")
    block config
    head
        title=title
        meta(content=description name="description")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no") 
        meta(name="robots", content="noindex")
        link(rel="canonical", href="http://robertoblake.com/")
        //- this checks to see the the "embed" property is set to "true"
        //- in the package.json file
        if config.entry.css.embed
            link(rel="stylesheet" href=`${embedPath}` inline)
    body
        include ../header/header
        .content
            block content
            hr
            include ../featured/featured
        .footer
            include ../footer/footer
        script(src="/asset/js/all.js")
link(rel="stylesheet", href="style.css")
