.footer
    .footer__social
        h2 Let's Connect
        p Feel free to reach out to me!
        p
            a(href="tel:+1-518-406-8664") P: 518.406.8664 
        img(src="asset/image/email-icon.png", alt="Let's have a quick chat")
        ul.list__wrapper
            each replica in data.footer
                li.list__item
                    a.list__icon(href=replica.href, title=replica.name)
                    p.list__description=replica.description
    p.footer__copyright Copyright &copy; #{new Date().getFullYear()} · All Rights Reserved 
    a.footer__link(href="/") Roberto Blake