extends _component/layout/base
block config
  -
    let title = `Roberto Blacke Replica`;
    let description = `This will be a improve version of Roberto Blacke's website`
block content
  h1 this is blabla