extends ../_component/layout/base
block config
  -
    let title = `Roberto Blake Public Speaker`;
    let description = `Roberto Blake is a Public Speaker covering the topics of Marketing, Creative Services, Social Media and YouTube.`
block content
  .header__wrapper
    h1 Roberto Blake, Keynote Speaker: Marketing &amp; Strategy
    .header__panel
      .header__image--speaker
  .landing__content